<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
  <servlet>
    <servlet-name>Inventories</servlet-name>
    <servlet-class>resistorSorter.servlet.InventoriesServlet</servlet-class>
  </servlet>
   <servlet>
    <servlet-name>Racks</servlet-name>
    <servlet-class>resistorSorter.servlet.RacksServlet</servlet-class>
  </servlet>
   <servlet>
    <servlet-name>Bins</servlet-name>
    <servlet-class>resistorSorter.servlet.BinsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TestViewInventory</servlet-name>
    <servlet-class>resistorSorter.servlet.TestViewInventoryServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Resistor</servlet-name>
    <servlet-class>resistorSorter.servlet.ResistorServlet</servlet-class>
  </servlet>
  


  <!-- Servlet mappings -->
  <servlet-mapping>
    <servlet-name>Inventories</servlet-name>
    <url-pattern>/Inventories</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Bins</servlet-name>
    <url-pattern>/Bins</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Racks</servlet-name>
    <url-pattern>/Racks</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
   <servlet-name>TestViewInventory</servlet-name>
    <url-pattern>/TestViewInventory</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
   <servlet-name>Resistor</servlet-name>
    <url-pattern>/Resistor</url-pattern>
  </servlet-mapping>

  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>
