<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
  <servlet>
    <servlet-name>Inventory</servlet-name>
    <servlet-class>resistorSorter.servlet.InventoryServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MultiplyNumbers</servlet-name>
    <servlet-class>resistorSorter.servlet.MultiplyNumbersServlet</servlet-class>
  </servlet>
   <servlet>
    <servlet-name>ReplaceResistor</servlet-name>
    <servlet-class>resistorSorter.servlet.ReplaceResistorServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TakeResistor</servlet-name>
    <servlet-class>resistorSorter.servlet.TakeResistorServlet</servlet-class>
  </servlet>
   <servlet>
    <servlet-name>Rack</servlet-name>
    <servlet-class>resistorSorter.servlet.RackServlet</servlet-class>
  </servlet>
   <servlet>
    <servlet-name>Bin</servlet-name>
    <servlet-class>resistorSorter.servlet.BinServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TestViewInventory</servlet-name>
    <servlet-class>resistorSorter.servlet.TestViewInventoryServlet</servlet-class>
  </servlet>
  


  <!-- Servlet mappings -->
  <servlet-mapping>
    <servlet-name>Inventory</servlet-name>
    <url-pattern>/Inventory</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MultiplyNumbers</servlet-name>
    <url-pattern>/MultiplyNumbers</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReplaceResistor</servlet-name>
    <url-pattern>/ReplaceResistor</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TakeResistor</servlet-name>
    <url-pattern>/TakeResistor</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Bin</servlet-name>
    <url-pattern>/Bin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Rack</servlet-name>
    <url-pattern>/Rack</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
   <servlet-name>TestViewInventory</servlet-name>
    <url-pattern>/TestViewInventory</url-pattern>
  </servlet-mapping>

  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>
